<%= form_tag({controller: 'payment', action: 'pay'}, method: :post, id: 'simplify-payment-form') do %>
  <div>
    <%= label_tag('cc-number', 'Credit Card Number:') %>
    <%= text_field_tag('cc-number', nil, maxlength: 20, autocomplete: 'off', autofocus: true) %>
  </div>
  <div>
    <%= label_tag('cc-cvc', 'CVC:') %>
    <%= text_field_tag('cc-cvc', nil, maxlength: 4, autocomplete: 'off') %>
  </div>
  <div>
    <%= label_tag('cc-exp-month', 'Expiry Date:') %>
    <%= select_month(Date.new(Date.today.year, 1).beginning_of_month, {use_two_digit_numbers: true}, {id: 'cc-exp-month'}) %>
    <%= select_year(Date.today, {start_year: Date.today.year, end_year: Date.today.year+10}, {id: 'cc-exp-year'}) %>
  </div>
  <%= submit_tag('Process Payment', id: 'process-payment-btn') %>
<% end %>