<p id="notice"><%= notice %></p>

<p>
  <strong>Start at:</strong>
  <%= @event.start_at %>
</p>

<p>
  <strong>End at:</strong>
  <%= @event.end_at %>
</p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<%= link_to 'Edit', edit_organization_event_path(@event.organization, @event) %> |
<%= link_to 'Back', organization_events_path(@organization) %>

<h3>All Products:</h3>

<table>
<tbody>
  <% @products.each do |product| %>
    <tr>
      <td><%= product.name %></td>
      <td><%= product.description %></td>
      <td><%= product.price %></td>
      <td><%= link_to 'Show', organization_product_path(product.organization, product) %></td>
      <td><%= link_to 'Edit', edit_organization_product_path(product.organization, product) %></td>
      <td><%= link_to 'Destroy', organization_product_path(product.organization, product), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</tbody>
</table>

<%= link_to 'New Product', new_organization_product_path(@organization) %>
