<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= @product.image %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<%= link_to 'Edit', edit_organization_product_path(@product.organization, @product) %> |
<%= link_to 'Back', organization_products_path(@organization) %>
